{% if markup is not empty %}
{# If custom markup is provided, emit it as is #}
{{ markup }}
{% else %}
{# If no custom markup, generate markup based on structured data #}
<nav {{ attributes }} id="su-main-nav" class="su-main-nav {{ modifier_class }}" aria-label="Main">
  <button id="su-main-nav__toggle" class="su-main-nav__toggle {{ button_modifier_class }}" aria-expanded="false">{{ toggle_text }}</button>
{% if lv1 is not empty %}
  <ul class="su-main-nav__menu-lv1">
  {% for item in lv1 %}
    {% set is_parent = item.lv2 is empty ? false : true %}
    <li class="su-main-nav__item-lv1 {% if is_parent %}su-main-nav__item-lv1--parent{% endif %} {% if item.current %}su-main-nav__item-lv1--current{% endif %}">
      <a href="{{ item.href }}" {% if item.target is not empty %}target="{{ item.target }}"{% endif %}>{{ item.text }}</a>
      {% if is_parent %}
        <ul class="su-main-nav__menu-lv2" aria-expanded="false">
          {% for item_lv2 in item.lv2 %}
            <li class="su-main-nav__item-lv2 {% if item_lv2.current %}su-main-nav__item-lv2--current{% endif %}">
              <a href="{{ item_lv2.href }}" {% if item_lv2.target is not empty %}target="{{ item_lv2.target }}"{% endif %}>{{ item_lv2.text }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
</nav>
{% endif %}